* {
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(63, 1, 1);
}
header {
    /* background-color: red; */
    position: relative;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style-type: none;
    word-spacing: 20px;
    margin-right: 10px;
}
ul li {
    display: inline-block;

}
ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
    color: white;
}
ul li a:hover {
    background: blueviolet;
    border-radius: 15px;
}
.main {
    margin: 40px;
    
}
.logo {
    /* background-color: green; */
    font-size: 25px;
    margin: 10px;
    color: white;
}
.com {
    /* background-color: blueviolet; */
    font-size: 20px;
    color: blue;
}
.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: blueviolet;
    width: 370px;
    height: 650px;
}
.con {
    display: grid;
    place-items: center;
}
div > h2 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding: 20px auto;
}
.form {
    background-color: white;
    width: 340px;
    height: 600px;
    border-radius: 10px;
}
form {
    margin: 15px
}
label {
    line-height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input[type=text], input[type=number], input[type=password] {
    width: 270px;
    height: 20px;
    padding: 5px 20px;
    background-color: rgba(212, 209, 209, 0.993);
    border: none;
    border-radius: 3px;
    outline: none;
}
input[type=submit] {
    background-color: aqua;
    width: 80px;
    height: 30px;
    margin-top: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
span {
    margin: auto 3px;
}